<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="EnableLog" value="true"></add>
    <add key="EnableLogEmail" value="false"></add>
    <add key="LogToEmail" value="yourname1@domain.com|yourname2@domain.com" />
    <add key="smtpServer" value="smtpserveraddress" />
    <add key="LogFromEmail" value="demoadmin@iotap.com" />
    <add key="dbErrorLog" value="Data Source=.\SQLExpress;Integrated Security=True;User Instance=True;AttachDBFilename=|DataDirectory|DemoDatabase.mdf;;" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5.1" executionTimeout="6000000" maxRequestLength="2147483647" />
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" defaultUrl="Default.aspx" slidingExpiration="true" timeout="60" />
    </authentication>
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>
    <sessionState timeout="60" mode="InProc" />
    <customErrors mode="Off" defaultRedirect="ErrorPages/500.aspx">
      <error statusCode="301" redirect="ErrorPages/301.aspx" />
      <error statusCode="400" redirect="ErrorPages/400.aspx" />
      <error statusCode="401" redirect="ErrorPages/401.aspx" />
      <error statusCode="402" redirect="ErrorPages/402.aspx" />
      <error statusCode="403" redirect="ErrorPages/403.aspx" />
      <error statusCode="404" redirect="ErrorPages/404.aspx" />
      <error statusCode="405" redirect="ErrorPages/405.aspx" />
      <error statusCode="406" redirect="ErrorPages/406.aspx" />
      <error statusCode="407" redirect="ErrorPages/407.aspx" />
      <error statusCode="408" redirect="ErrorPages/408.aspx" />
      <error statusCode="409" redirect="ErrorPages/409.aspx" />
      <error statusCode="413" redirect="ErrorPages/413.aspx" />
      <error statusCode="500" redirect="ErrorPages/500.aspx" />
      <error statusCode="501" redirect="ErrorPages/501.aspx" />
      <error statusCode="502" redirect="ErrorPages/502.aspx" />
      <error statusCode="503" redirect="ErrorPages/503.aspx" />
      <error statusCode="504" redirect="ErrorPages/504.aspx" />
      <error statusCode="505" redirect="ErrorPages/505.aspx" />
      <error statusCode="507" redirect="ErrorPages/507.aspx" />
      <error statusCode="508" redirect="ErrorPages/508.aspx" />
    </customErrors>
    <webServices>
      <protocols>
        <remove name="Documentation" />
      </protocols>
      <wsdlHelpGenerator href="ErrorPages/403.aspx" />
    </webServices>
  </system.web>
  <system.webServer>
    <!-- Setting long expiration dates on our static resources -->
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
    </staticContent>
    <!-- URL rewrite -->
    <rewrite>
      <rules>
        <rule name="fingerprint">
          <match url="([\S]+)(/v-[0-9]+/)([\S]+)" />
          <action type="Rewrite" url="{R:1}/{R:3}" />
        </rule>
      </rules>
    </rewrite>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <location path="css">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="js">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="fonts">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Dashboard.aspx" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false" />
    <modules runAllManagedModulesForAllRequests="false" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <connectionStrings>
    <!--<add name="DBConnection" connectionString="Data Source=.;Initial Catalog=KafaalaDB;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="DBConnection" connectionString="Data Source=SQL5032.site4now.net;Initial Catalog=DB_A544ED_KafaalaDB;User Id=DB_A544ED_KafaalaDB_admin;Password=kafaala@2020;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: 2726F23C-AFB3-416B-9535-8B447F02F7E7-->